################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BenjaminAngularTestProject/.vs/BenjaminAngularTestProject
/BenjaminAngularTestProject/BenjaminAngularTestProject/obj
